# This file is used to specify files and directories that should be ignored by Docker when building images.

# Folders
.idea
.git
config
deployments
kreya
protos/proto
protos/scripts
scripts
test
**/mock/
**/mocks/
grafana

# Files
**/*_test.go
**/*_mock.go

.bumpversion.toml
.env
.gitignore
.golangci.yml
.mockery.yaml
.test.example.env
buf.gen.yaml
buf.work.yaml
README.md
Taskfile.yml