.idea
.git
build
config
deployments
**/mock/
scripts
test

protos/build
protos/proto
protos/scripts

.bumpversion.cfg
.gitignore
.golangci.yml
.mockery.yaml
.test.example.env
.env
README.md
Taskfile.yml

**/*_test.go
**/*_mock.go

.cache
.task
kreya